@charset "utf-8";
/* CSS Document */


/* open-sans-regular - latin */


@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src: url('fonts/open-sans-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('fonts/open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/open-sans-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/open-sans-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/open-sans-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/open-sans-v15-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/open-sans-v15-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url('fonts/open-sans-v15-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/open-sans-v15-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/open-sans-v15-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/open-sans-v15-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/open-sans-v15-latin-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/*Written by Kim Oliver H. Andersson*/

body{
font-family: "Open Sans"
}



/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*_____________MAIN SECTION_______________*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/




.header{
	height: 100vh;
	width: 100%;
	position: relative;
	top: 0px;
}



.headline{
	color: #707070;
	left: 0px;
	right: 0px;
	position: absolute;
	margin: auto;
	width: 40%;
	text-align: center;
	top: 20%;
	font-size: 45px;
}

.headertext{
	color: #707070;
	left: 0px;
	right: 0px;
	position: absolute;
	margin: auto;
	width: 40%;
	text-align: center;
	top: 35%;
	font-size: 30px;
}

.Somebar{
	box-shadow: 0px 3px 6px lightgrey;
	width: 40%;
	height: 50px;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 60%;
	margin: auto;
}
#Instagram{

	background-image: url("Img/Pageicons/Instagram.svg");
	background-size: cover;
}
#Facebook{

	background-image: url("Img/Pageicons/Facebook.svg");
	background-size: cover;
}
#Youtube{

	background-image: url("Img/Pageicons/Youtube.svg");
	background-size: cover;
}
#LinkedIn{

	background-image: url("Img/Pageicons/LinkedIn.svg");
	background-size: cover;
}
#Email{

	background-image: url("Img/Pageicons/Email.svg");
	background-size: cover;
}

.SomeList{
	width: 40px;
	height: 40px;
	position: relative;
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

.SocialMedias{
	list-style: none;
	height: 30px;
	top: 5px;
	position:absolute;
	padding:0px;
	left: 0px;
	right: 0px;
	margin:auto;
	width: 300px;

}

.SomeList:hover{
	opacity: 0.8;
}

.copyright{
	position: absolute;
	right: 50px;
	bottom: 5%;
	margin: auto;
	font-size: 20px;
	color: #707070;
}



/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*_____________SKILLS SECTION_____________*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/




.Skills{
	height: 100vh;
	width: 100%;
	position: relative;
	top: 0px;
	background-color: #07D0C4;
	margin: none;
	padding: none;
	left: 0px;
	float: left;
	border: none;
}

#Skillsheadline{
	width: 100%;
	text-align: center;
	color: white;
	margin-top: 10%;
}

.content{
	top: 0px;
	position: relative;
	margin-left:20vw;
	margin-right: 20vw;
	margin-top: 20px;
}
.DesignSkills{
	background-color: white;
	width: 30%;
	height: 425px;
	margin-top: 10%;
	box-shadow: 0px 3px 6px lightgrey;
	position: absolute;
}

.CodeSkills{
	background-color: white;
	width: 30%;
	height: 250px;
	margin-top: 10%;
	box-shadow: 0px 3px 6px lightgrey;
	position: absolute;
	top: 0px;
	margin-left: 35%;
}

.OtherSkills{
	background-color: white;
	width: 30%;
	height: 300px;
	margin-top: 10%;
	box-shadow: 0px 3px 6px lightgrey;
	float: right;
	top: 0px;
	position: absolute;
	right: 0px;
}

.Skill_list{
	top: 10px;
	position: relative;
	margin-top: 10px;
	list-style: none;
	color: #07D0C4;
	height: auto;
	
}
#Skillsheadline{
	font-size: 45px;
}

.Skill_list li{
	margin-top: 8px;
}

.Tools{
margin-left: 40px;
top: 20px;
margin-bottom: 20px;
position: relative;
color: #707070;
}


#designtittle{
color: white;
top: 0px;
width: 30%;
height:auto;
position: absolute;
z-index: 2;
text-align: center;
font-size: 25;
}

#codetittle{
color: white;
top: 0px;
width: 30%;
height:auto;
position: absolute;
z-index: 2;
text-align: center;
font-size: 25;
margin-left: 35%;
}

#othertittle{
color: white;
top: 0px;
width: 30%;
height:auto;
position: absolute;
z-index: 2;
text-align: center;
font-size: 25;
right: 0px;
}